
.modal-dialog-uni {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-clip: padding-box;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    transition: transform 0.2s linear;
}

.in .modal-dialog-uni {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* Remodal window(end) */


/* Remodal window close button(begin) */
.Unimodal-close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 28px;
    height: 28px;

    text-decoration: none;

    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #3e5368;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.Unimodal-close:after {
    display: block;
    font-size: 28px;
    font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;

    content: "×";
    line-height: 28px;
    cursor: pointer;
    text-decoration: none;

    color: #3e5368;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.Unimodal-close:hover, .Unimodal-close:active {
    background: #3e5368;
}

.Unimodal-close:hover.Unimodal-close:after, .Unimodal-close:active.Unimodal-close:after {
    color: #f4f4f4;
}




/* Remodal buttons(end) */

/************** Media queries **************/

@media only screen and (min-width: 40.063em) /* min-width 641px */ {
    .modal-dialog-uni {
       
    }
}