body, a {
    color: #3B4C56;
    font-family: 'Capriola',sans-serif;
    font-size: 13px;
    text-decoration: none;
}
a{
    cursor:pointer;
}
.tree {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    padding: 10px;
    width: 480px;

}
.tree ul {
    list-style: none outside none;
}
.tree li a {
    line-height: 25px;
}
.tree > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.tree li.parent > a {
    background-image: url("../images/plus-minus.png");
    background-position: 0 0;
    display: block;
    height:15px;
    left: 0;
    vertical-align: middle;
    width: 15px;
    float: left; 
    margin: 0 5px 0 0;
}
.tree ul li.active > a {
    background-position: bottom center;
}
.tree ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 12px;
    overflow: hidden;
    padding: 0 0 0 25px;
}
.tree ul li ul li {
    position: relative;
}
.tree ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}
#wrapper {
    margin: 10% auto;
    width: 300px;
}
h1 {
    -moz-transition: all 0.3s ease-in 0s;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 24px;
    padding: 5px 0;
    text-align: center;
    width: 332px;
    cursor:default;
}
h1:hover {
    background-color: #F26D5E;
    border-color: #FFFFFF;
    color: #FFFFFF;
}


.treeParent span.jqTransformCheckboxWrapper, span.jqTransformRadioWrapper {
    margin-right: 5px;
    margin-top: 0 !important;
}